body {
    color: white;
}

h1 {
    color: #44e224;
    margin: 0;
    text-align: center;
}

.contact-container {
    padding: 20px;
    text-align: center;
}

.contact-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.contact-logo {
    width: 50px; /* Tama침o est치ndar para los logos */
    height: 50px; /* Tama침o est치ndar para los logos */
    cursor: pointer;
    transition: transform 0.3s;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copied-message {
    margin-top: 5px;
    font-size: 14px;
    color: #44e224;
}

.contact-logo:hover {
    transform: scale(1.1);
}
