<div id="about" class="bg-dark">
    <div class="content-wrapper">
        <div>
            <img
                class="profile"
                ngSrc="assets/images/profile.png"
                width="300"
                height="300"
                priority
                alt="Alex Gibernau profile picture" />
        </div>
        <div class="text-content">
            <h1>
                I'm Alex Gibernau,
                <span class="gradient-radial-text">Frontend Developer.</span>
            </h1>
            <h3>
                With 2.5 years of experience in web development. Specialized in
                Frontend for the last 1.5 years, building scalable and
                high-performance applications with Angular and TypeScript.
            </h3>
        </div>
    </div>
</div>
