.bg-dark {
    padding: 20px;
    color: white;
    text-align: center;
}

.skills-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #44e224;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

@media (max-width: 1200px) {
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

.soft-skill {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    width: 125px; /* Ajusta el tamaño según necesidad */
    height: 125px; /* Ajusta el tamaño según necesidad */
    display: block;
}

.skill-name {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
