<div id="soft-skills" class="bg-dark">
    <h1 class="skills-title">Soft Skills</h1>
    <div class="skills-grid">
        @for (softSkill of softSkills; track softSkill.name) {
            <div class="soft-skill">
                <img
                    [ngSrc]="softSkill.logo"
                    [alt]="softSkill.name"
                    width="125"
                    height="125"
                    class="skill-logo" />
                <div class="skill-name">{{ softSkill.name }}</div>
            </div>
        }
    </div>
</div>
