<div id="skills" class="skills-container bg-dark">
    <h1 class="skills-title">Skills</h1>
    <div class="skills-grid">
        @for (skill of skills; track skill.name) {
            <div class="skill">
                <circle-progress
                    [percent]="skill.level"
                    [imageSrc]="skill.logo"
                    [showImage]="true"
                    [imageHeight]="40"
                    [imageWidth]="40"
                    [outerStrokeColor]="getGradientColor(skill.level)">
                </circle-progress>
                <div class="skill-name">{{ skill.name }}</div>
            </div>
        }
    </div>
</div>
