.skills-container {
    padding: 20px;
    color: white;
    text-align: center;
}

.skills-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #44e224;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.skill {
    text-align: center;
    margin: 10px;
}

.skill-name {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.skill-logo {
    border-radius: 50%;
}

@media (max-width: 992px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}
